@model ShopSupMenu

<form method="post" asp-action="ShopAt">
    <div class="container p-3">
        <div class="text-center">
            <h2 class="bronze-text">This is what I have to offer</h2>
            <p class="golden-text">Anything that tickles your fancy?</p>
            <img src="~/Images/Shopkeeper.png">
        </div>
        <br />
        <table class="dragon-table" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Ninja Name
                    </th>
                    <th>
                        Ninja Gold
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.ninja.Name
                    </td>
                    <td>
                        @Model.ninja.Gold
                    </td>
                </tr>
            </tbody>
        </table>
        <div asp-validation-summary="ModelOnly" class="text-danger text-decoration-none"></div>
        <br />
        <table class="dragon-table" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Value
                    </th>
                    <th>
                        Strength
                    </th>
                    <th>
                        Dexterity
                    </th>
                    <th>
                        Intelligence
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.shopInventory)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Value
                        </td>
                        <td>
                            @item.Strenght
                        </td>
                        <td>
                            @item.Dexterity
                        </td>
                        <td>
                            @item.Intelligence
                        </td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <input type="submit" asp-action="ShopBuy" asp-route-itemId="@item.Id" asp-route-ninjaId="@Model.ninja.Id" asp-route-shopId="@Model.shop.Id" class="btn golden-button w-100" value="Buy" />
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <br />
        <div class="row">
            <div class="col-4 offset-4 row">
                <div class="col">
                    <a asp-action="ShopMenu" asp-route-shopId="@Model.shop.Id" asp-route-ninjaId="@Model.ninja.Id" class="btn bronze-button w-100"><i class="fas fa-sign-out-alt"></i>Back</a>
                </div>
            </div>
        </div>
    </div>
</form>

